.TopHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    align-items: center;   
}
.TopHeader p{
    margin-left: 200px;
    align-items: center;
    
}
.TopHeader h5{
    margin-left: 10px;
    text-decoration: underline;
    text-align:center;
    cursor: pointer;
}

.English h5{
    margin-left: 300px;
    text-decoration: none; 
    text-align: center;
    display: flex;
}
.English img{
    height: 10px;
    width: 15px;
    margin-left:10px;
    text-align: center;
    color: aliceblue;
    
}

