.Header{
    display: flex;
   
    align-items: center;
    margin-top: 0%;
    padding-bottom: 0%;
    font-family: poppins;
    font-size: 15px;
}
.Header h3{
    margin-left: 50px;
    font-family: poppins;
    font-size: 20px; 
    display: flex;
}
nav{
    margin-left: 50px; 
    display: flex;
}
  
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    margin-left: 40px;
    margin-right: 0px;
    padding: 20px;
    justify-content: space-between;

}
nav ul li a {
    text-decoration: none; /* Remove underline */
    color: #333; /* Dark gray text */
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
   cursor: pointer;
}

/* Hover effect */
nav ul li a:hover {
    color: white;
    background-color: #d9534f; /* Red background */
    border-radius: 5px;
}

/* Active (visited) link */
nav ul li a:active {
    color: #d9534f; /* Red text */
}
.search-wrapper {
    display: inline;
    align-items: center;
    position: relative;
    
}
.search-wrapper  input{
    width: 243;
    height: 38;
    border-radius: 4px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
    background-color:  rgb(225, 225, 228);
    border: 1px solid #ccc;
    margin-left: 350px;
   
}
.search-wrapper .search-icon {
    display:inline-block;
    position:absolute ;
    left: 170px;
    width: 15px; 
    height: 15px;
    top: 20%;
    margin-left: 350px;
  }
  .symbols{
    display: flex;
    margin-right: 90px;   
}
.symbols img{
    display: flex;
    margin-right: 10px;
   
} 
