
.log-in{
    display: flex;
    font-family: poppins;
}
.Sideimage {
    margin-top: 60px; /* Move image slightly up */
    margin-bottom: 40px;
}
/* form */
.login-form{
    display: inline;
    margin-left: 50px;
    margin-top: 10px;
    
}
.login-form h1{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
}
.login-form h3{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    display: flex;
}
.login-form input{
    display: flex;
    width: 250px;
    height: 30px;
    border-width: 1.5px;
    border-color: rgb(156, 156, 156);
    margin-bottom: 30px;
    border-top: white;
    border-left:white ;
    border-right: white;
    margin-top: 16px;
}
.container button {
    background-color: #c32626;
    color: white; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.container button:hover {
    background-color: #a11e1e; 
    transform: scale(1.05);
}
.container button:active {
    background-color: #8d1a1a;
    transform: scale(0.98);
}
.Forget-Password a{
margin-top: 0%;
margin-left: 0%;
margin-right: 50px;
}
a {
    color: rgb(173, 28, 28);
    text-decoration: none;
    font-size: 14px;
    margin-left: 26px;
}


